<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TempoTracks.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>29051E252827DB42EB4D62569A5FFB83EB71C396</string>
				<key>dateExpires</key>
				<string>2024-07-23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29051E252827DB42EB4D62569A5FFB83EB71C396</string>
						<key>dateExpires</key>
						<string>2024-07-23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FG3F5G2D7L</string>
						<key>name</key>
						<string>Kuba Rogut</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64_32</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>29051E252827DB42EB4D62569A5FFB83EB71C396</string>
						<key>dateExpires</key>
						<string>2024-07-23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>FG3F5G2D7L.org.name.TempoTracks.watchkitapp</string>
						<key>com.apple.developer.team-identifier</key>
						<string>FG3F5G2D7L</string>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>TempoTracks.app</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>e799b4a1-7c0d-4eaf-9e9d-f6024f807119</string>
						<key>dateExpires</key>
						<string>2025-03-03</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: *</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FG3F5G2D7L</string>
						<key>name</key>
						<string>Kuba Rogut</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FG3F5G2D7L.org.name.TempoTracks</string>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>FG3F5G2D7L</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>TempoTracks.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e119b797-6a9b-4a69-80b5-757a783052ab</string>
				<key>dateExpires</key>
				<string>2025-03-03</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: org.name.TempoTracks</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FG3F5G2D7L</string>
				<key>name</key>
				<string>Kuba Rogut</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
