.header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.button {
    align-items: 'center';
    background-color: '#fff';
    padding: 10;
    width: 300;
    height: 50;
    margin-top: 16;
    color: #fff;
}